In [40]:
import geopandas as gpd
import xarray as xr
import numpy as np
import rioxarray as rxr
import os
from math import e
import matplotlib.pyplot as plt
import pandas as pd
import rasterio as rio
from scipy.stats import gaussian_kde
import seaborn as sns
import numpy as np

In [2]:

df = pd.read_csv( r'/Volumes/PhD/imagery/masters/output/hyper_compare/MvH_results.csv')
df

,BASIN_ID,RI,M1M,M1Md,M1PF,M1Q1,HM1M,HM1Md,HM1PF,HM1Q1,OHM1M,OHM1Md,OHM1PF,OHM1Q1
0,12042,12.0,0.064260,0.053244,0.046768,0.045561,0.070095,0.055214,0.047952,0.045286,0.069559,0.052435,0.047878,0.041563
1,12042,16.0,0.086179,0.067387,0.056811,0.054883,0.096479,0.070677,0.058715,0.054447,0.095525,0.066046,0.058596,0.048609
2,12042,20.0,0.114659,0.084950,0.068855,0.065981,0.131391,0.090059,0.071712,0.065334,0.129830,0.082879,0.071532,0.056778
3,12042,24.0,0.150996,0.106566,0.083226,0.079135,0.176468,0.114104,0.087318,0.078218,0.174084,0.103528,0.087061,0.066224
4,12042,28.0,0.196295,0.132885,0.100274,0.094646,0.232865,0.143554,0.105934,0.093389,0.229444,0.128600,0.105577,0.077114
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
371,22668,24.0,0.217452,0.275691,0.357919,0.095945,0.254794,0.340418,0.417101,0.132851,0.258005,0.354206,0.417102,0.104975
372,22668,28.0,0.291314,0.372401,0.480807,0.117953,0.343649,0.458428,0.553428,0.170279,0.348095,0.476093,0.553430,0.130639
373,22668,32.0,0.378143,0.480530,0.606062,0.144203,0.444988,0.581294,0.682167,0.215631,0.450542,0.600896,0.682169,0.161446
374,22668,36.0,0.473558,0.590514,0.718774,0.175134,0.551118,0.694841,0.788010,0.269142,0.557361,0.713838,0.788011,0.197864
375,22668,40.0,0.570943,0.692131,0.809380,0.211065,0.652789,0.788784,0.865552,0.330341,0.659125,0.805182,0.865553,0.240144

In [33]:
# change so all basins are included
   

basin = df[df['BASIN_ID']==12042]
basin_id = basin['BASIN_ID'].values[0]

basin

,BASIN_ID,RI,M1M,M1Md,M1PF,M1Q1,HM1M,HM1Md,HM1PF,HM1Q1,OHM1M,OHM1Md,OHM1PF,OHM1Q1
0,12042,12.0,0.064260,0.053244,0.046768,0.045561,0.070095,0.055214,0.047952,0.045286,0.069559,0.052435,0.047878,0.041563
1,12042,16.0,0.086179,0.067387,0.056811,0.054883,0.096479,0.070677,0.058715,0.054447,0.095525,0.066046,0.058596,0.048609
2,12042,20.0,0.114659,0.084950,0.068855,0.065981,0.131391,0.090059,0.071712,0.065334,0.129830,0.082879,0.071532,0.056778
3,12042,24.0,0.150996,0.106566,0.083226,0.079135,0.176468,0.114104,0.087318,0.078218,0.174084,0.103528,0.087061,0.066224
4,12042,28.0,0.196295,0.132885,0.100274,0.094646,0.232865,0.143554,0.105934,0.093389,0.229444,0.128600,0.105577,0.077114
5,12042,32.0,0.251164,0.164506,0.120356,0.112825,0.300704,0.179070,0.127962,0.111147,0.296099,0.158669,0.127481,0.089623
6,12042,36.0,0.315351,0.201901,0.143817,0.133979,0.378554,0.221105,0.153782,0.131792,0.372750,0.194202,0.153151,0.103932
7,12042,40.0,0.387456,0.245299,0.170962,0.158390,0.463208,0.269763,0.183715,0.155599,0.456379,0.235465,0.182907,0.120224

In [67]:
# if values do not cross .5, predict the value at .5
def find_crossing(x, y, threshold=0.5, extrapolate=False):
    for i in range(1, len(x)):
        if y[i-1] < threshold <= y[i]:
            # Interpolation
            x0, x1 = x[i-1], x[i]
            y0, y1 = y[i-1], y[i]
            return x0 + (threshold - y0) * (x1 - x0) / (y1 - y0)
    
    # If threshold not crossed and extrapolation is allowed
    if extrapolate and len(x) >= 2:
        # Use last two points to extrapolate forward
        x0, x1 = x[-2], x[-1]
        y0, y1 = y[-2], y[-1]
        
        # Only extrapolate if y is increasing
        if y1 > y0:
            slope = (y1 - y0) / (x1 - x0)
            return x1 + (threshold - y1) / slope
    
    return np.nan  # No crossing and extrapolation not possible

def estimate_threshold_crossing(x, y, threshold=0.5, degree=2, limit_extrapolation=True):
    x = np.array(x)
    y = np.array(y)
    
    # Remove any NaNs just in case
    mask = ~np.isnan(x) & ~np.isnan(y)
    x = x[mask]
    y = y[mask]

    if len(x) < degree + 1:
        return np.nan  # Not enough points to fit
    
    # Fit polynomial
    coeffs = np.polyfit(x, y, deg=degree)
    poly = np.poly1d(coeffs)

    # Solve poly(x) - threshold = 0
    roots = (poly - threshold).roots
    real_roots = [r.real for r in roots if np.isreal(r)]

    # Filter to extrapolated root that is beyond the max x
    valid_roots = [r for r in real_roots if r > x.max()]

    if limit_extrapolation:
        valid_roots = [r for r in valid_roots if r <= x.max() + 10]  # optional safeguard

    return valid_roots[0] if valid_roots else np.nan

In [61]:
RI = basin['RI'].values
RI

array([12., 16., 20., 24., 28., 32., 36., 40.])

In [62]:
model_columns = [col for col in basin.columns if col not in ['BASIN_ID', 'RI']]
model_columns

['M1M',
 'M1Md',
 'M1PF',
 'M1Q1',
 'HM1M',
 'HM1Md',
 'HM1PF',
 'HM1Q1',
 'OHM1M',
 'OHM1Md',
 'OHM1PF',
 'OHM1Q1']

In [64]:
results = {'BASIN_ID': [basin_id]} 
for col in model_columns:
    results[col] = [find_crossing(RI, basin[col].values)]


results_df = pd.DataFrame(results)
results_df

,BASIN_ID,M1M,M1Md,M1PF,M1Q1,HM1M,HM1Md,HM1PF,HM1Q1,OHM1M,OHM1Md,OHM1PF,OHM1Q1
0,12042,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [68]:
all_basins = df.groupby('BASIN_ID').apply(
    lambda x: pd.Series({
        col: find_crossing(x['RI'].values, x[col].values, threshold=0.5, extrapolate=True)
        for col in model_columns
    })
).reset_index()

all_basins.columns = ['BASIN_ID'] + model_columns
all_basins

/var/folders/mm/sjj0b1k91z39pkxfzn0rj_1h0000gn/T/ipykernel_74624/1478333958.py:1: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  all_basins = df.groupby('BASIN_ID').apply(

,BASIN_ID,M1M,M1Md,M1PF,M1Q1,HM1M,HM1Md,HM1PF,HM1Q1,OHM1M,OHM1Md,OHM1PF,OHM1Q1
0,12042,46.243422,63.475374,88.486177,95.974905,41.738437,58.926609,82.265976,97.864178,42.086431,65.643824,82.625814,133.242501
1,12057,27.547009,25.790321,23.907717,34.946492,24.435624,23.186334,21.847502,31.133086,23.719794,21.741610,21.874629,31.798587
2,12518,37.896469,52.240237,56.711333,60.235187,35.825316,49.480413,56.131809,60.818240,34.204924,45.864392,56.160557,70.034688
3,12524,21.590789,20.974311,17.636136,26.992071,21.067573,20.629586,17.369329,26.662317,20.245416,19.431655,17.379075,28.634424
4,12527,25.163537,26.049402,37.881699,36.537329,25.602322,26.151851,38.641013,37.523374,25.823867,27.764557,38.671684,39.763299
5,12616,57.762069,74.208276,79.782158,89.232552,49.218846,58.807018,67.895254,82.375716,49.486553,64.251945,67.817537,119.533199
6,12860,23.219485,23.344548,22.987270,27.096467,24.472846,24.739132,25.012136,26.872845,27.548849,27.888785,24.988445,33.392537
7,12997,21.275839,20.872247,20.752247,22.844215,22.149679,22.238264,21.687887,24.909073,22.520502,23.876975,21.693260,27.976555
8,13281,48.564416,79.913784,112.131417,125.859532,42.430292,64.276239,87.265368,103.244138,43.057765,62.974510,87.037970,154.482421
9,17346,22.417783,20.443921,19.434882,28.694806,20.854247,19.111953,17.893938,27.251502,20.787887,18.685763,17.908932,29.477545
10,17347,18.244471,17.845734,17.652361,19.468155,16.845916,16.434525,16.308408,18.106655,16.347094,15.781530,16.311000,17.929049
11,17987,20.211560,19.953695,19.771471,21.142442,18.418321,18.275757,18.286209,19.277290,18.025409,17.593122,18.275434,18.975378
12,19165,21.402772,20.946180,20.017843,23.908828,20.383709,20.164519,19.474705,23.242069,20.183524,19.749449,19.483494,24.037157
13,19167,28.031974,27.213482,26.588327,29.658050,26.753470,25.960663,25.254276,28.960750,25.886491,25.051155,25.260727,28.175790
14,19381,28.821181,28.617831,28.625721,31.288781,26.667852,26.107066,25.416700,28.838757,25.416833,25.269363,25.403412,28.585747
15,19384,19.566181,19.177110,18.542245,21.507842,18.251528,17.951256,17.669610,20.116949,18.122947,17.638469,17.686335,20.518183
16,19450,35.059426,32.518236,29.284108,45.497444,31.784291,28.926938,25.362758,41.917903,30.771044,28.019332,25.353932,47.626136
17,19451,28.110495,27.741292,27.318305,31.071390,24.862808,24.618540,24.384247,27.456490,23.450076,23.053488,24.369769,25.842377
18,19510,25.576115,24.594205,23.950962,29.474597,23.457684,22.018384,21.369143,27.908355,22.903663,21.151790,21.382887,27.860068
19,19512,19.561197,19.236052,18.808679,21.263474,18.059242,17.771532,17.490792,19.755996,17.410680,17.080160,17.480399,19.154584
20,19629,32.934115,30.661261,27.614684,41.678896,30.702976,29.786776,24.596258,39.090420,30.471779,30.669275,24.584222,43.118297
21,19632,47.915469,49.920496,50.982864,68.697358,43.280229,44.714512,45.371926,61.413215,46.801157,51.596065,45.304718,95.319902
22,19647,34.511753,32.559479,30.877726,44.791511,33.916983,31.243133,29.428779,44.333691,32.794241,29.209161,29.454177,49.581849
23,19649,21.013328,20.775645,19.931409,22.779932,19.433400,19.142484,18.519310,21.193005,18.895293,18.437832,18.534941,21.063570
24,19777,33.283752,32.012834,31.143361,36.494979,30.336510,28.965144,28.600407,33.059769,29.881683,28.233712,28.592324,34.399104
25,20029,32.682951,32.114580,31.340120,38.036051,27.529332,26.152088,24.050901,33.348127,25.666590,25.067821,24.035828,30.404612
26,20031,34.596513,32.943173,29.907582,43.168043,31.210631,29.274623,24.505719,43.128988,29.586492,25.689537,24.504230,42.597162
27,20253,37.509759,36.802145,33.384264,52.674173,37.164292,36.795884,34.339668,50.746477,35.611618,35.649850,34.318843,61.245403
28,20254,27.163201,25.277513,24.245475,32.017469,25.814533,23.862712,22.783233,30.233636,24.979924,22.555029,22.781336,29.329722
29,20303,37.807326,39.623039,44.349573,51.072429,34.185343,35.559654,39.249960,47.456554,36.241922,39.860285,39.239000,71.180771
30,20308,25.415295,22.707653,21.035682,34.423554,24.457271,21.593522,19.878756,34.116941,23.797023,20.833093,19.894437,34.058706
31,20384,28.954027,27.492337,24.809264,33.213551,27.192600,25.622107,24.031877,30.837911,26.666952,24.841988,24.007750,31.914535
32,20386,50.661723,41.926203,35.906154,144.086318,50.417562,45.600742,33.451423,160.861722,49.567753,44.378213,33.442518,206.209102
33,20499,42.756579,61.893493,85.836162,90.377821,41.470426,52.602057,73.671904,85.789054,43.120630,57.066100,73.598731,139.867273
34,20504,42.632879,65.556323,97.004361,101.271010,41.243974,51.656535,99.858017,108.902945,42.010275,57.826544,100.119142,151.664474
35,20650,127.902260,167.315311,199.420297,239.420850,97.461344,119.489443,154.184240,220.768629,132.872920,171.873620,153.921937,549.965020
36,20729,96.725446,112.255953,142.773996,185.822714,84.820653,92.776318,157.987823,212.710421,107.969076,112.188547,158.554399,348.508812
37,20734,27.563129,26.244079,24.943160,31.206552,26.244554,25.107342,23.497115,30.244204,25.854064,24.161868,23.491150,30.513638
38,21009,48.728087,79.555274,113.725632,120.757170,50.783942,69.419188,98.858953,133.086519,54.192450,81.138178,98.785909,322.109187
39,21078,30.171452,27.434974,25.725988,38.306210,27.944959,25.040850,23.168709,37.915037,26.615003,23.431970,23.156914,38.056529
40,21083,38.269866,37.884441,59.638324,58.341165,37.112233,39.928386,50.550191,56.812638,37.115989,38.956627,50.510378,61.209837
41,21224,31.044739,27.777694,24.353059,53.584898,30.092345,27.196499,22.258379,48.913104,30.095335,27.619697,22.264468,55.171805
42,21500,54.074812,61.762961,126.896562,122.843106,48.188313,56.133180,70.912391,90.284171,53.038022,63.482951,70.951176,135.384113
43,21513,42.440895,44.728018,62.806606,65.477703,39.945962,44.438418,58.013534,64.300948,38.584019,40.484349,57.906432,59.725218
44,21634,31.247329,30.306537,25.214457,41.524475,30.894229,29.741700,24.134972,42.010019,30.876834,28.928836,24.142855,53.313428
45,22075,23.277305,22.531270,21.878270,25.401519,22.186528,21.401697,20.216675,24.486305,21.472094,20.481822,20.219030,24.015636
46,22668,37.086089,32.708093,28.612918,72.166007,34.073380,29.353405,26.432358,51.089020,33.852039,28.766223,26.432320,64.583951