In [2]:
import geopandas as gpd
import pandas as pd
import rioxarray as rxr
import os
from scipy import stats
import numpy as np
import rasterio
import matplotlib.pyplot as plt
import seaborn as sns
from scipy.stats import gaussian_kde

In [3]:
IDir = r'/Volumes/PhD/imagery/masters/output/dNBR/'
ODir = r'/Volumes/PhD/imagery/masters/ROC/'
basin_path = r'/Volumes/PhD/imagery/masters/ROC/ROC_basins.shp'
basins_df = gpd.read_file(basin_path)
basin_id = basins_df['BASIN_ID']
basin_df = pd.DataFrame(basin_id)
basin_df

     BASIN_ID
0       17499
1        3115
2        3589
3        5683
4        5920
..        ...
732     15065
733     35852
734     36553
735     36955
736     37056

[737 rows x 1 columns]