In [11]:
import geopandas as gpd
import pandas as pd

In [6]:
ROC_m1 = r'/Volumes/PhD/imagery/masters/ROC/M1_CT_ROC.shp'
ROC_m1 = gpd.read_file(ROC_m1)
ROC_m1.columns

Index(['BASIN_ID', 'Shape_Leng', 'Shape_Area', 'Segment_ID', 'Acc_Cl',
       'Perim_Buff', 'InsidePeri', 'OutsidePer', 'Fire_ID', 'Fire_Segme',
       'L_X1', 'L_X2', 'L_X3', 'V_X1', 'V_X2', 'Shape_Le_1', 'R', 'V_X3', 'X',
       'ExpX', 'P', 'PCl', 'PCl_Legend', 'LnV', 'Volume', 'VolMin', 'VolMax',
       'VolCl', 'VolCl_Lege', 'CombHaz', 'CombHazCl', 'CombHazCl_', 'area',
       'Field', 'ROC', 'nearest_st', 'distance_t', 'RI_index', 'RI',
       'Mean_dNBR', 'Med_dNBR', 'PF_dNBR', 'M1P_Mean', 'M1P_Med', 'M1p_PF',
       'geometry'],
      dtype='object')

In [12]:
ROC_df = {
    'BASIN_ID': ROC_m1['BASIN_ID'],
    'M1P_Mean': ROC_m1['M1P_Mean'],
    'M1P_Med': ROC_m1['M1P_Med'],
    'M1P_PF': ROC_m1['M1p_PF'],
    'RI': ROC_m1['RI'],
    'Old_ROC': ROC_m1['Field']
}
ROC_df = pd.DataFrame(ROC_df)

In [13]:
ROC_df

     BASIN_ID  M1P_Mean   M1P_Med    M1P_PF     RI  Old_ROC
0       17499  0.449618  0.454098  0.438860   5.08        1
1        3115  0.148129  0.116710  0.101142   7.11        4
2        3589  0.301476  0.164258  0.122691   7.11        4
3        5683  0.999180  0.999251  0.999382  12.95        4
4        5920  0.848432  0.870989  0.910869   6.10        4
..        ...       ...       ...       ...    ...      ...
732     15065  0.313190  0.248063  0.189564   9.14        0
733     35852  0.473049  0.466838  0.444912   7.37        0
734     36553  0.468316  0.457159  0.448097   7.37        0
735     36955  0.281668  0.274903  0.249830   7.37        0
736     37056  0.380218  0.402390  0.464637   7.37        0

[737 rows x 6 columns]

In [18]:
ROC_df['New_ROC'] = ROC_df['M1P_Mean'].apply(lambda x: 1 if x > 0.5 else 0)
ROC_df['ROC_Med'] = ROC_df['M1P_Med'].apply(lambda x: 1 if x > 0.5 else 0)
ROC_df['ROC_PF'] = ROC_df['M1P_PF'].apply(lambda x: 1 if x > 0.5 else 0)

In [20]:
ROC_df.to_csv(r'/Volumes/PhD/imagery/masters/ROC/M1_CT.csv')